@model ShoppingCart.DataAccess.ViewModels.CategoryVM

@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2 class="text-primary">KATEGORIE</h2>
        </div>
        <div class="col-6 text-end">
            <a class=" btn btn-primary" asp-action="CreateUpdate" asp-controller="Category">Edytuj</a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kolejność zamówienia</th>
            <th>Operacja</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Categories)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td class="group">
                    <a asp-action="CreateUpdate" asp-controller="Category" asp-all-id="@item.Id">
                        <i class="bi bi-pencil-square"></i>
                        Edytuj
                    </a>
                    <a asp-action="Delete" asp-controller="Category" asp-all-id="@item.Id">
                        <i class="bi bi-trash"></i>
                        Usuń
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>
